@import "bootstrap/scss/functions";
@import "./_variables";

@import "bootstrap/scss/bootstrap";

.img-fit-cover{
  
  height: 200px;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}   